<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Anime Store | <%= product.name %></title>
  <link rel="stylesheet" href="/sass/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
  <!--ICONO PÁGINA-->
  <link rel="icon" href="/img/loguito.png">
</head>
<body>
  <%- include('partials/header.ejs') %>

    <div class="container__detail__product">
        <div class="row">
          <div class="productos__contenedor__segundo">
            <article class="product-detail-info">
              <h2 class="product-detail-title"><%= product.name %></h2>
                <p class="product-detail-price">
                  $<%= toThousand(product.price) %>
                </p>
                <h2 class="product-detail-description"><%= product.description %></h2>
              <ul class="actions-list">
                <li>
                  <i class="fas fa-credit-card"></i>
                  <p>Pagá en 12 cuotas sin interes</p>
                </li>
                <li>
                  <i class="fas fa-store"></i>
                  <p>Retiro gratis en el local</p>
                </li>
              </ul>
              <div class="buttom__buy">
                <a href="#" class="buy-now-button">COMPRAR AHORA</a>
                <form action="/products/addToCart" method="post">
                  <input type="hidden" name="productId" value="<%= product.id %>">
                  <button type="submit" class="buy-now-button">AGREGAR AL CARRITO</button>
                </form>
              </div>
            </article>
          </div>
          <div class="productos__contenedor">
            <img src="/img/<%= product.image %>" alt="product image" class="product-detail-img">
          </div>
        </div>
      </div>
      <br>
      <%- include('partials/footer.ejs') %>
      
      <script src="/js/script.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
</body>
</html>
