<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Anime Store | Online</title>
  <link rel="stylesheet" href="/sass/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
  <!--ICONO PÃGINA-->
  <link rel="icon" href="/img/loguito.png">
</head>
<body>
  
<%- include('partials/header.ejs') %>
  

  <main class="container__productos">
    <section class="productos">
      <h2 class="section__title"> PRODUCTOS </h2>
      <div class="product__shine">
        <div class="productos-container">
          <% producto.forEach(product => { %>
          <div class="producto">
            <a class="href__style" href="/products/producto/detailProducto/<%= product.id %>">
            <img class="img__width" src="/img/<%= product.image %>" alt="<%= product.name %>">
            <h3><%= product.name %></h3>
            <p>Precio: $<%= product.price %></p>
            <button>Comprar</button>
          </a>
          </div>
          <% }) %>
        </div>
      </div>
    </section>

  </main>

  <%- include('partials/footer.ejs') %>
  

  <script src="/js/script.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
</body>
</html>